<footer class="l-footer clear">
  <nav class="l-nav-bar nav-bar-theme">
    <a id="aboutCompany" class="l-nav-bar-button nav-bar-button-theme l-hiding-things" href="aboutCompany">О
      компании</a>
    <a id="deliveryAndPayment" class="l-nav-bar-button nav-bar-button-theme l-hiding-things" href="deliveryAndPayment">Доставка
      и оплата</a>
    <a id="contacts" class="l-nav-bar-button nav-bar-button-theme l-hiding-things" href="contacts">Контакты</a>
    <a id="feedbacks" class="l-nav-bar-button nav-bar-button-theme l-hiding-things" href="feedbacks">Отзывы</a>
  </nav>
  <h3 class="footer-text-theme">
    <a href="mailto:ivan.hryakow@gmail.com" target="_blank" rel="noopener">Mail</a>
    <a href="https://vk.com/cyborob" target="_blank" rel="noopener">VK</a>
    <a href="https://IvanHryakow.t.me" target="_blank" rel="noopener">Telegram</a>
  </h3>
  <script src="Scripts/swiper.js"></script>
  {{> loadTime}}
</footer>