<head>
  <meta charset="UTF-8">
  <title>Онлайн-рынок SadFarmer</title>
  <meta name="keywords" content="Продукты, овощи, фрукты, онлайн-рынок, интернет-магазин">
  <meta name="description" content="Первый онлайн-рынок по продаже продуктов с огорода">
  {{> styles}}
  {{> scripts}}
</head>