<header class="shadow-for-blocks">
  <nav class="l-nav-bar nav-bar-theme">
    <a id="index" class="l-nav-bar-button nav-bar-button-theme" href="/index">Главная</a>
    <a href="index">
      <img alt="gif with a bug" class="logotype l-hiding-things" src="Sources/Gif/bug.gif">
    </a>
    <div class="header__search_button">
      <input type="search" class="header__icon header__search" placeholder="Поиск">
    </div>
    <a id="cart" class="l-nav-bar-button nav-bar-button-theme l-hiding-things" href="cart">Корзина</a>
    <a id="reg" class="l-nav-bar-button nav-bar-button-theme l-hiding-things" href="register">Войти</a>
<!--    <button id="input" class="l-nav-bar-button nav-bar-button-theme open-button" onclick="openForm()">Войти</button>-->
<!--    <a id="input" class="l-nav-bar-button nav-bar-button-theme open-button" onclick="openForm()" href="input">Войти</a>-->
  </nav>
</header>