 <div class="form-popup clear" id="myForm">
  <form action="#" class="form-container">
    <input type="text" id="name" placeholder="имя" name="name" required>
    <input type="text" id="password" placeholder="пароль" name="password" required>
    <button type="submit" class="btn">Войти</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
  </form>
</div>