<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
{{> header}}

<main class="l-main main-theme shadow-for-blocks" id="mainContent">
  <section class="l-main-section">
    <h1 class="header-text">
      О нас
    </h1>
    <img class="fig fig-width-about-us adaptive-image l-hiding-things" src="Sources/Images/produktovyy-magazin.jpg" alt="photo of a food store">
    <h2 class="header-text normal-white-space l-hiding-things">
      Мы&nbsp;рады&nbsp;приветствовать&nbsp;вас!
    </h2>
    <p class="red-string">
      Несмотря на то, что торговая сеть «SadFarmer» начала формироваться недавно, уже к настоящему времени мы завоевали доверие покупателей.
      В любой сезон на полках наших торговых точек только <i>свежие</i> овощи, фрукты, ягоды, грибы и зелень,
      а также <i>качественные</i> сухофрукты и орехи. Откуда появилось название SadFarmer? На самом деле никакого секрета нет.
      Просто становится грустно, когда видим, что миллионы сограждан проходят мимо полезной пищи и в выборе между быстрой едой и здоровой выбирают первую.
      Именно поэтому мы создали наш сервис, чтобы каждый человек мог, не выходя из дома, выбрать лучшее для себя предложение.
    </p>
  </section>
  <article class="important-things important-things-theme l-hiding-things">
    Наше главное отличие - возможность прямого общения с продавцом. С помощью этого механизма вы можете уточнить интересующую вас информацию о товаре, а также немного сбить цену.
    Это помогает нам <strong>всегда</strong> быть в курсе происходящего и решать <b>любые</b> возникающие трудности!
  </article>

  <section class="l-main-section">
    <p>Итак, вы выбираете, а все остальное мы берем на себя. Загибайте пальцы:
      <img class="fig fig-width-about-us l-hiding-things adaptive-image" src="Sources/Images/vegetables.jpg" alt="photo of a vegetables">
    </p>
    <ul class="iteration">
      <li>
        <p class="list-theme">Контроль качества.</p>
      </li>
      <li>
        <p class="list-theme">Минимальное использование химии для выращивания.</p>
      </li>
      <li>
        <p class="list-theme">Удобная оплата.</p>
      </li>
      <li>
        <p class="list-theme">А простота совершения заказа сравнится с данным кодом:</p>
        <pre><code class="code">
public static void Main(String[] args)
{
  Console.WriteLine("Hello World");
}</code></pre>
      </li>
    </ul>

    <aside  class="big-text">Наша компания развивается по формуле успеха Эйнштейна:

      A = X<sup>1</sup> + Y<sup>1</sup> + Z<sup>1</sup>,
      где А - означает успех, X - работу, Y - игру, а Z - молчание.
    </aside>
    <p  class="big-text">В заключение, стоит отметить, что при выборе у вас не будет такой же безысходности, как здесь:</p>
    <pre>
     <q class="big-text">— Окна не открывать!
      — Так душно же...
      — Комары налетят!
      — А мы свет выключим...
      — Тараканы набегут!</q>
    </pre>
    У нас <b>всегда</b> есть чем вас заинтересовать!
  </section>

  <section class="important-things important-things-theme l-hiding-things">
    <p class="big-text"> Итак, почему мы? </p>
    <ul>
      <li class="iteration">
        Общение с продавцом.
        <em>Любые</em> вопросы по поводу товара!
      </li>
      <li class="iteration">
        <em>Быстрая и надежная</em> доставка. Ваш заказ приедет в целости и сохранности. Прислушайтесь, вы услышите как торопится наш курьер!
      </li>
      <li class="iteration">
        Скидки и акции! <em>Каждый</em> день, только для вас!
      </li>
    </ul>
  </section>
</main>
{{> openButton}}
{{> footer}}
</body>
</html>