<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
{{> header}}
<main class="shadow-for-blocks main-theme" id="mainContent">
  <div>
    <p class="important-things important-things-theme important-things-theme-warning">Звоните по всем вопросам по телефону +80395389665ё</p>
  </div>
</main>
{{> openButton}}
{{> footer}}
</body>
</html>
