<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
{{> header}}
<main class="l-main main-theme shadow-for-blocks l-main-section readable-font" id="mainContent">
    <h2 class="header-text normal-white-space">
        ДОСТАВКА
        <img class="fig" src="Sources/Images/Delivery_dron.png" alt="photo of a delivery dron">
    </h2>
    <h3 class="header-text normal-white-space">
        ПО&nbsp;ГОРОДУ
    </h3>
    <p>
        Стоимость курьерской доставки в пределах КАД – <b>350 руб.</b> Доставка осуществляется с 10:00 до 23:00 в
        день
        заказа или на следующий день, в зависимости от загруженности курьерской службы.
    </p>
    <p>
        Стоимость срочной доставки по Санкт-Петербургу в пределах КАД – <b>500 руб</b>. Доставка осуществляется в
        течение <b>2-4</b>
        часов в день заказа при наличии свободных курьеров.
    </p>
    <p>
        Стоимость доставки за пределы КАД – <b>500 руб. + 30 руб. за каждый км. от КАД</b>. Рассчитывается отдельно
        оператором
        при подтверждении заказа.
    </p>
    <p>
        Для крупногабаритных товаров стоимость доставки составляет <b>1 000 руб</b>.
    </p>
    <p>
        Самовывоз из пункта выдачи товара – <b>бесплатно</b>. Заказанный товар резервируется на два дня с момента
        подтверждения. В случае проведения акции – на один день (в отдельных случаях бронь невозможна, уточняйте у
        менеджера). По прошествии данного срока заказ аннулируется.
    </p>

    <div class="important-things important-things-theme half-width center-text">
        <p>
            Все заказы отправляются только по 100% предоплате;
        </p>
        <p>
            Все посылки при отправлении страхуются на полную стоимость товара;
        </p>
        <p>
            Изменение адреса пункта самовывоза в день доставки невозможно;
        </p>
    </div>

    <div class="important-things important-things-theme important-things-theme-warning  half-width center-text">
        <p>
            На данный момент доставка товаров недоступна!
        </p>
        <p>
            Для получения заказа необходимо забрать его лично в одном из
            пунктов выдачи товара.
        </p>
    </div>
    <div class="table">
        <table class="grid-table">
            <thead class="head-table">
            <tr class="row-table">
                <th class="head-table-theme">Список пунктов самовывоза</th>
                <th class="head-table-theme">Адрес</th>
            </tr>
            </thead>
            <tbody class="body-table">
            <tr class="row-table">
                <td class="field-in-table">Удельный рынок</td>
                <td class="field-in-table">Фермское ш., 41, корп. 5, Санкт-Петербург</td>
            </tr>
            <tr class="row-table">
                <td class="field-in-table">Сытный рынок</td>
                <td class="field-in-table">Сытнинская ул., 5, Санкт-Петербург
                </td>
            </tr>
            <tr class="row-table">
                <td class="field-in-table">Сенной рынок</td>
                <td class="field-in-table">Московский просп., 4, Санкт-Петербург.</td>
            </tr>
            <tr class="row-table">
                <td class="field-in-table">Полюстровский рынок</td>
                <td class="field-in-table">Полюстровский просп., 45, Санкт-Петербург.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="image-container">
        <div class="grid-image">
            <div class="image-main">
                <img class="main-picture-sizes" src="Sources/Images/marketplaces.png" alt="location of a marketplaces in St. Petersburg">
            </div>
            <div class="additional-image-1">
                <img class="additional-picture-sizes" src="Sources/Images/udelnyi.jpg" alt="one of the marketplaces in St. Petersburg">
            </div>
            <div class="additional-image-2">
                <img class="additional-picture-sizes" src="Sources/Images/sytninskiy.jpg" alt="one of the marketplaces in St. Petersburg">
            </div>
            <div class="additional-image--3">
                <img class="additional-picture-sizes" src="Sources/Images/sennoi.jpg" alt="one of the marketplaces in St. Petersburg">
            </div>
            <div class="additional-image-4">
                <img class="additional-picture-sizes" src="Sources/Images/polystrovskiy.jpg" alt="one of the marketplaces in St. Petersburg">
            </div>
        </div>
    </div>
</main>
{{> openButton}}
{{> footer}}
</body>
</html>
