<!DOCTYPE html>
<html lang="ru">
{{> head}}
<link rel="stylesheet" href="Styles/Modules/mySwiper.css" type="text/css">
<script src="Scripts/index.js"></script>
<script src="Scripts/addProductToCart.js"></script>
<body>
{{> header}}
<main class="shadow-for-blocks main-theme" id="mainContent">
  <div class="l-main-gallery">
    <div class="l-main-pictures-flex">
      <div class="l-main-picture">
        <img class="l-main-product-image" src="Sources/Images/anima1.jpg" alt="Vegetable">
      </div>
      <div class="l-main-picture">
        <img class="l-main-product-image" src="Sources/Images/anima4.jpg" alt="Vegetable">
      </div>
      <div class="l-main-picture">
        <img class="l-main-product-image" src="Sources/Images/anima3.jpg" alt="Vegetable">
      </div>
      <div class="l-main-picture">
        <img class="l-main-product-image" src="Sources/Images/anima2.jpg" alt="Vegetable">
      </div>
    </div>
  </div>

<!--  <div class="swiper">-->
<!--    <div class="swiper-wrapper">-->
<!--      <div class="swiper-slide">-->
<!--        <img class="small-picture" src="Sources/Images/1_1.png" alt="Vegetable">-->
<!--      </div>-->
<!--      <div class="swiper-slide">-->
<!--        <img class="small-picture" src="Sources/Images/2_1.png" alt="Vegetable">-->
<!--      </div>-->
<!--      <div class="swiper-slide">-->
<!--        <img class="small-picture" src="Sources/Images/3_1.png" alt="Vegetable">-->
<!--      </div>-->
<!--      <div class="swiper-slide">-->
<!--        <img class="small-picture" src="Sources/Images/4_1.png" alt="Vegetable">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="card-list" id="product-list">-->
<!--    <div class="product-grid">-->
<!--      <div class="product">-->
<!--        <img src="Sources/Images/photo1.jpg" alt="Product 1">-->
<!--        <a href="#">Яблоко зеленое</a>-->
<!--        <p>120р/кг</p>-->
<!--        <a href="#">Добавить в корзину</a>-->
<!--      </div>-->
<!--      <div class="product">-->
<!--        <img src="Sources/Images/photo3.png" alt="Product 1">-->
<!--        <a href="#">Яблоко зеленое</a>-->
<!--        <p>120р/кг</p>-->
<!--        <a href="#">Добавить в корзину</a>-->
<!--      </div>-->
<!--      <div class="product">-->
<!--        <img src="Sources/Images/photo3.png" alt="Product 1">-->
<!--        <a href="#">Яблоко зеленое</a>-->
<!--        <p>120р/кг</p>-->
<!--        <a href="#">Добавить в корзину</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="section">
    <div class="section__title">Товары</div>
  </div>

  <div class="product-container">
    <div class="product-grid-image" id="product-list">
    </div>
  </div>

</main>
{{> openButton}}
{{> footer}}
<script src="Scripts/swiper.js"></script>
</body>
</html>
